.feature {
  h2 {
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    color: #666666;
  }
  p {
    font-size: 15px;
    color: #B3B3B3;
    font-weight: 300;
  }
  img {
    height: 23px;
    margin-right: 5px;
  }
}