<nav class="navbar-wagon navbar-wagon-fixed">
  <div class="container navbar-wagon-container">

    <% link_to "index.html" do %>
      <%= image_tag "logo.png", class: "navbar-wagon-logo" %>
    <% end %>

    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input hidden-xs" placeholder="Search for featured stuff">
      <button type="submit" class="navbar-wagon-search-btn hidden-xs">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <hr>
    <%= link_to "Team", "contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <hr>
    <%= link_to "Find us", "#map", class: "navbar-wagon-item navbar-wagon-link" %>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="icon-badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="icon-badge icon-badge-blue">3</div>
      </div>
    </a>
    <hr>
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <img src="https://raw.githubusercontent.com/lewagon/design/master/pick-it/pictures/students/charlotte_cady.jpg" alt="" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="navbar-wagon-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>

      </div>
    </div>
    <hr>
    <div class="navbar-wagon-item">
      <a href="" class="navbar-wagon-button btn btn-default">Post stuff</a>
    </div>

  </div>
</nav>